--- drivers/video/fbdev/Kconfig
+++ drivers/video/fbdev/Kconfig
@@ -1739,6 +1739,25 @@ config CARMINE_DRAM_CUSTOM
 	  Use custom board timings.
 endchoice
 
+config FB_GAMECUBE
+	bool "Nintendo GameCube/Wii frame buffer"
+	depends on FB && GAMECUBE_COMMON
+	select FB_CFB_FILLRECT
+	select FB_CFB_COPYAREA
+	select FB_CFB_IMAGEBLIT
+	help
+	  This is the frame buffer device driver for the Nintendo GameCube.
+
+config WII_AVE_RVL
+	bool "Nintendo Wii audio/video encoder support"
+	depends on FB_GAMECUBE && WII
+	select I2C_GPIO
+	select I2C
+	default y
+	help
+	  Say Y here to support the audio/video encoder found in the
+	  Nintendo Wii video game console.
+
 config FB_AU1100
 	bool "Au1100 LCD Driver"
 	depends on (FB = y) && MIPS_ALCHEMY
