--- drivers/irqchip/Kconfig
+++ drivers/irqchip/Kconfig
@@ -159,7 +159,6 @@ config TB10X_IRQC
 config TS4800_IRQ
 	tristate "TS-4800 IRQ controller"
 	select IRQ_DOMAIN
-	depends on HAS_IOMEM
 	help
 	  Support for the TS-4800 FPGA IRQ controller
 
