--- drivers/i2c/busses/Kconfig
+++ drivers/i2c/busses/Kconfig
@@ -547,14 +547,29 @@ config I2C_EXYNOS5
 	help
 	  High-speed I2C controller on Exynos5 based Samsung SoCs.
 
+config I2C_GPIO_COMMON
+	tristate
+	depends on GPIOLIB
+	select I2C_ALGOBIT
+	default n
+
 config I2C_GPIO
 	tristate "GPIO-based bitbanging I2C"
 	depends on GPIOLIB || COMPILE_TEST
 	select I2C_ALGOBIT
+	select I2C_GPIO_COMMON
+	default n
 	help
 	  This is a very simple bitbanging I2C driver utilizing the
 	  arch-neutral GPIO API to control the SCL and SDA lines.
 
+config I2C_GPIO_OF
+	tristate "GPIO-based bitbanging I2C driver with OF bindings"
+	select I2C_GPIO_COMMON
+	help
+	  This option allows the declaration of GPIO-based I2C devices
+	  using a device tree source.
+
 config I2C_HIGHLANDER
 	tristate "Highlander FPGA SMBus interface"
 	depends on SH_HIGHLANDER
